.card-section {
  background-color: #ffcd0552;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    box-shadow: 1px 1px 3px black;
    width: 100px;
    &__img {
    }
    &__name {
    }
  }
}
