.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__logo {
  }
  &__title {
  }
  &__claim {
  }
  &__nav {
  }
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
  &__nav {
    font-size: 1, 5rem;
  }
}
