.header {
  display: flex;
  flex-direction: column;
  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffcd05;
    width: 100%;
  }
  &__title {
    color: #2a75bb;
    font-family: 'Kalam', cursive;
    font-size: 3rem;
    margin: 0;
  }
  &__claim {
    color: red;
    font-family: 'Kalam', cursive;
    font-size: 2rem;
    margin: 0;
    text-shadow: 1px 1px 1px black;
  }
  &__nav {
    display: flex;
    justify-content: center;
    background-color: #2a75bb;
    width: 100%;
  }
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4rem;
  list-style: none;
  font-family: 'Kalam', cursive;
  color: white;
  padding-left: 1.5rem;

  &__nav {
    font-size: 1.8rem;
    text-align: center;
  }
  &__link {
    text-decoration: none;
    color: white;
  }

  &__link:hover {
    color: #ffcd05;
  }
}
